body{
    font-family: Arial;
                                                
}

.card-container{
    margin-top: 12rem;
    display: inline-block;
    margin-left: 25%;
    border: black solid 3px;
    width: 24rem;
    text-align: center;
    border-radius: 0.61rem;
    box-sizing: border-box;
}

.card-options-li{
    display: inline-block;
    margin-left: 1rem;
    border: black solid 3px;
    border-radius: 0.61rem; 
    padding: 0.39em 1em 0.39em 1em;
    box-sizing: border-box;
}

.card-options-li:hover{
    display: inline-block;
    margin-left: 1rem;
    border: black solid 3px;
    border-radius: 0.61rem; 
    padding: 0.39em 1em 0.39em 1em;
    background-color: grey;
    cursor: pointer;
    box-sizing: border-box;
}

.card-options-ul{
    text-align: center;
    box-sizing: border-box;
}

#background-foam-header{
    background-color: #93e9be;
    padding-top: .61rem;
    padding-bottom: .61rem;
    
}

.nav-child{
   display: inline-block;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 500;
   /* padding-right: 2rem; */
   margin-left: 3rem;
}

#nav-bar-parent{
    padding: 0;
    margin: 0;
}

.link_dec{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}